.dashkit-action-panel {
    background-color: var(--g-color-base-float);
    position: fixed;
    bottom: 20px;
    display: flex;
    border-radius: 10px;
    border: 3px solid var(--g-color-base-brand);
    padding: 8px;
    gap: 0;
    left: 50%;
    transform: translateX(-50%) translateY(0);
    z-index: 1;

    &_slide-animation {
        will-change: transform;
        transition: transform 0.5s ease-in-out;
    }

    &_hidden {
        transform: translateX(-50%) translateY(calc(100% + 20px));
    }

    &__item {
        height: 68px;
        width: 98px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.3s background-color ease-in-out;
        border-radius: 6px;
        padding: 0 12px;
        box-sizing: border-box;
        white-space: nowrap;
        overflow: hidden;

        &:hover {
            cursor: pointer;
            background-color: var(--g-color-base-simple-hover);
        }
    }

    &__icon {
        margin-bottom: 4px;
    }

    &__title {
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
