.actions-toolbar {
    display: flex;
    position: fixed;

    width: fit-content;
    padding: 8px;

    border-radius: var(--g-border-radius-l);
    background-color: var(--g-color-base-background);
    box-shadow: 0px 5px 6px 0px var(--g-color-sfx-shadow);

    &__button {
        transition: all 0.2s ease;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 98px;
        height: 68px;

        cursor: pointer;

        border-radius: var(--g-border-radius-s);
    }

    &__button:hover {
        background-color: var(--g-color-base-generic);
    }

    &__icon {
        margin-bottom: 10px;
    }
}
