.dashkit-grid-item {
    position: relative;
    $_border-radius: 3px;

    &__overlay {
        --_-dashkit-overlay-color: var(--dashkit-overlay-color, var(--g-color-base-generic));
        --_-dashkit-overlay-border-color: var(--dashkit-overlay-border-color, rgba(0, 0, 0, 0.1));
        --_-dashkit-overlay-opacity: var(--dashkit-overlay-opacity, 1);
        --_-dashkit-overlay-border-radius: var(
            --dashkit-grid-item-border-radius,
            #{$_border-radius}
        );

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: var(--_-dashkit-overlay-border-radius);
        background-color: var(--_-dashkit-overlay-color);
        border: solid 1px var(--_-dashkit-overlay-border-color);
        opacity: var(--_-dashkit-overlay-opacity);

        &-enter {
            opacity: 0;
            will-change: opacity;

            &-active {
                opacity: var(--_-dashkit-overlay-opacity);
                transition: opacity 300ms ease;
            }
        }

        &-exit {
            opacity: var(--_-dashkit-overlay-opacity);
            will-change: opacity;

            &-active {
                opacity: 0;
                transition: opacity 300ms ease;
            }
        }
    }

    &__controls {
        &-enter {
            opacity: 0;
            will-change: opacity;

            &-active {
                opacity: 1;
                transition: opacity 300ms ease;
            }
        }

        &-exit {
            opacity: 1;
            will-change: opacity;

            &-active {
                opacity: 0;
                transition: opacity 300ms ease;
            }
        }
    }

    &__item {
        --_-dashkit-grid-item-border-radius: var(
            --dashkit-grid-item-border-radius,
            #{$_border-radius}
        );
        --_-dashkit-grid-item-edit-opacity: var(--dashkit-grid-item-edit-opacity, 0.5);

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: var(--_-dashkit-grid-item-border-radius);

        &_editMode {
            opacity: var(--_-dashkit-grid-item-edit-opacity);
            border-color: transparent;
            pointer-events: none;
        }
    }
}

.react-grid-layout {
    position: relative;
    transition: height 200ms ease;
}

.react-grid-item.cssTransforms {
    transition-property: transform;
}

.react-grid-item.resizing {
    z-index: 1;
    will-change: width, height;
}

.react-grid-item.react-draggable:not(.dashkit-grid-item_with-custom-handle) {
    cursor: move;
}

.react-grid-item.react-draggable-dragging {
    transition: none;
    z-index: 3;
    will-change: transform;
}

.react-grid-item.react-grid-placeholder {
    --_-dashkit-placeholder-color: var(--dashkit-placeholder-color, #fc0);
    --_-dashkit-placeholder-opacity: var(--dashkit-placeholder-opacity, 0.2);

    background: var(--_-dashkit-placeholder-color);
    opacity: var(--_-dashkit-placeholder-opacity);
    transition-duration: 100ms;
    z-index: 2;
    user-select: none;
}

.react-grid-item .react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    cursor: se-resize;
    z-index: 6;
}

.react-grid-item .react-resizable-handle::after {
    content: '';
    position: absolute;
    right: 3px;
    bottom: 3px;
    border: 4px solid transparent;
    border-right-color: rgba(0, 0, 0, 0.4);
    border-bottom-color: rgba(0, 0, 0, 0.4);
}
