.dashkit-demo {
    padding: 20px;

    &__title {
        margin: 0 0 20px;
        padding-bottom: 15px;
        border-bottom: 1px solid var(--yc-color-line-generic);

        font-family: 'YS Display', Helvetica, Arial, sans-serif;
        font-weight: 500;
        font-size: 26px;
        line-height: 30px;

        color: var(--yc-color-text-complementary);
    }

    &__row {
        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &-title {
            margin: 0 0 10px;

            font-weight: 500;
            font-size: 15px;
            line-height: 20px;

            color: var(--yc-color-text-complementary);
        }
    }

    &__out {
        background: var(--yc-color-base-generic-ultralight);
        border-radius: var(--yc-border-radius-m);
        width: 70px;
        height: 50px;
        border: 1px solid var(--yc-color-line-generic-accent);
        padding: 10px;
        text-align: center;
        margin-bottom: 20px;
        position: relative;
    }
}
