.stories-dashkit-showcase {
    &__controls-line {
        display: flex;
        margin-top: 10px;
        flex-wrap: wrap;
        max-width: 800px;
    }

    &__btn-contol {
        margin-bottom: 10px;
        margin-right: 10px;
    }

    &__inline-group {
        background-color: var(--g-color-base-generic-ultralight);
        position: sticky;
        overflow: auto;
        top: 0;
        z-index: 3;
        min-height: 52px;
        display: flex;
        flex-direction: column;
        margin-bottom: 8px;

        &_edit-mode {
            position: static;
            overflow: visible;
        }

        > .react-grid-layout {
            flex: 1;
        }
    }

    &__collapse-group {
        margin-bottom: 8px;
    }

    &__collapse-group-placeholder {
        flex: 1;
        text-align: center;
    }

    &__collapse-group-header {
        display: flex;
    }

    &__collapse-group-header-action {
        flex-grow: 1;
    }

    &__collapse-group-grid {
        min-height: 52px;
        display: flex;
        flex-direction: column;
        margin-top: 8px;

        > .react-grid-layout {
            flex-grow: 1;
        }
    }
}
