.dashkit-demo {
    padding: 20px;

    &__title {
        margin: 0 0 20px;
        padding-bottom: 15px;
        border-bottom: 1px solid var(--g-color-line-generic);

        font-family: 'YS Display', Helvetica, Arial, sans-serif;
        font-weight: 500;
        font-size: 26px;
        line-height: 30px;

        color: var(--g-color-text-complementary);
    }

    &__row {
        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &-title {
            margin: 0 0 10px;

            font-weight: 500;
            font-size: 15px;
            line-height: 20px;

            color: var(--g-color-text-complementary);
        }
    }

    .dashkit_focused {
        outline: 1px dashed var(--g-color-text-danger);
    }
}
